.deepenKnowledgeSection {
  padding: 2rem 2rem 4rem 2rem;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 456px) {
    padding: 6rem 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  .title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1rem;
    color: var(--color-dark);
    margin-bottom: 1rem;
  }

  .link {
    color: var(--color-link-focus);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: var(--color-link-hover);
    }
  }
}
