// --- topNav ---
.container {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--color-primary);
  color: var(--color-primary-light);

  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;

    .logo {
      background-image: url("../../assets/icons/siemens-logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 120px;
      height: 20px;
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .login {
        margin-left: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
      }

      .lang {
        font-size: 1.125rem;
        cursor: pointer;
      }

      .lang:hover {
        color: var(--color-green-light);
      }

      svg:hover {
        color: var(--color-green-light);
      }
    }
  }

  .menu {
    display: flex;
    gap: 1rem;
    padding: 1.2rem 2rem;
    font-size: 1rem;

    @media (max-width: 991px) {
      display: none;
    }

    span {
      cursor: pointer;
      font-weight: 400;
      padding-block: 6px;

      &.active {
        border-right: 1px solid var(--color-coral-interactive);
        padding-right: 1rem;
        font-weight: 900;
      }

      &:hover {
        color: var(--color-green-light);
      }
    }
  }
  .hamburger {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }
}

.menuItem {
  padding: 1.5rem 4rem 1.5rem 0;
  border-bottom: 1px solid var(--color-interactive-coral-50-db);
}

.menuItemLast {
  padding: 0rem 4rem 1.5rem 0;
  border-bottom: 1px solid var(--color-interactive-coral-50-db);
}

.menuItemNoBorder {
  padding: 0rem 4rem 4rem 0;
}

// ---- subNav ----
.subNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary-light);
  height: 60px;
  padding: 0 2rem;
  color: var(--color-primary);
  font-size: 1rem;
  // height: 60px;
  position: sticky;

  .section {
    font-weight: 700;
  }

  .actions {
    display: flex;
    font-weight: 400;
    align-items: center;
    gap: 2rem;

    .productsBtn {
      font-weight: 600;
      color: var(--color-primary);
      border-radius: 0;
      height: 60px;

      &:hover {
        background-color: var(--color-grey);
      }
    }

    .contactBtn {
      font-weight: bold;
      background-color: var(--color-yellow);
      color: var(--color-dark);
      border-radius: 0;

      &:hover {
        background-color: #ffa000;
      }
    }
  }
}

//  --- scrollNav ---
.scrollNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-primary-light);
  padding: 1.2rem 2rem;
  height: 88px;
  position: sticky;
  top: 0;
  z-index: 999;

  .menuWrapper {
    overflow: hidden;
    width: 100%;
  }

  .menu {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    white-space: nowrap;
    transition: transform 0.1s linear;

    span {
      cursor: pointer;
      font-weight: 400;
      padding-block: 6px;

      &.active {
        border-right: 1px solid var(--color-coral-interactive);
        padding-right: 1rem;
        font-weight: 900;
      }

      &:hover {
        color: var(--color-green-light);
      }
    }
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-right: 0.5rem;

    .login {
      margin-left: 0.5rem;
      cursor: pointer;
      font-size: 1rem;
    }

    .lang {
      font-size: 1.125rem;
      cursor: pointer;
    }

    .lang:hover,
    svg:hover {
      color: var(--color-green-light);
    }
  }
}
