.subNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary-light);
  height: 60px;
  padding: 0 2rem;
  color: var(--color-primary);
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  position: relative;

  @media (max-width: 456px) {
    padding: 0 0.8rem;
  }

  .section {
    font-weight: 700;
  }

  .actions {
    display: flex;
    font-weight: 400;
    align-items: center;
    gap: 2rem;

    .productsBtn {
      font-weight: 600;
      color: var(--color-primary);
      border-radius: 0;
      height: 60px;
      text-transform: capitalize;

      &:hover {
        background-color: var(--color-grey);
      }
    }

    .contactBtn {
      font-weight: bold;
      background-color: var(--color-yellow);
      color: var(--color-dark);
      border-radius: 0;

      &:hover {
        background-color: #ffa000;
      }
    }
  }
}
.mobileAccordion {
  width: 100%;
  background-color: var(--color-primary-light);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: absolute;
  z-index: 9999;
  color: var(--color-primary) !important;

  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    color: inherit;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0;
  }

  .consultingBtn {
    background-color: var(--color-grey);
  }

  .borderBottom {
    border-bottom: 1px solid var(--color-grey);
  }

  .contactUsBtn {
    background-color: var(--color-yellow);
    font-weight: 700;
    align-self: flex-start;
  }
}

.popperWrapper {
  z-index: 9999 !important;
  border-radius: 0 !important;
  max-width: 16rem;
}

.arrow {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: var(--color-primary-light);
  top: -0.5rem;
  left: 1.5rem;
  transform: rotate(45deg);
  z-index: 1300;
}

.popperTitle {
  padding: 1rem 1.5rem;
}
