.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.cardsContainerRow {
  width: 100%;
  margin: 0 auto;
}

.siemensCards {
  flex: 1 1 calc(50% - 20px); /* Two cards per row for large screens */
  max-width: calc(50% - 20px);
  color: #000028;
  background-color: #fff;

  @media (max-width: 768px) {
    flex: 1 1 100%; /* One card per row for mobile */
    max-width: 100%;
  }
}

.card {
  height: 140px; /* Set the height of each card */
  border: 1px solid #e0e0e0;
  border-radius: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
  overflow: hidden;
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding: 16px;
  h3 {
    padding-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }
  p {
    font-size: 0.9rem;
    line-height: 16px;
    color: #000028;
    opacity: 0.7;
    margin-bottom: 0;
  }
}
